.side-menu{
    margin-top: 0.5em;
    border-radius: 0.3em;
    width: 20%;
    background: white;
    color: black;
    height: 100%;
    margin-bottom: 0;
    /*display: inline-flex;*/
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    /*background: red;*/
    margin-bottom: 0;
    border-radius: 0.3em;

    /*height: 100%;*/
}

ul:hover{

}

ul li{
    /*border-bottom: 1px solid lightgrey;*/
    padding: 0.7em;
    /*background: red;*/
}

ul li:first-of-type{
    border-bottom: 1px solid lightgrey;
}

ul li:hover{
    cursor: pointer;
}
